.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-top: 5px;
  height: 110px;
  background: #fff;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 140px;
  width: auto;
}

.navbar-right {
  display: flex;
  gap: 16px;
}

.nav-link {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.nav-user {
  border: 1px solid #e5e7eb;
  padding: 8px 16px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}
