.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #fff;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 64px;
}

.navbar-right {
  display: flex;
  gap: 12px;
}

.nav-link,
.nav-user {
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link {
  background: none;
  border: none;
}

.nav-user {
  border: 1px solid #e5e7eb;
  background: white;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
  }

  .navbar-right {
    flex-direction: column;
    width: 100%;
  }

  .nav-link,
  .nav-user {
    width: 100%;
    text-align: center;
  }
}
