* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Regra global MUITO IMPORTANTE para mobile */
img {
  max-width: 100%;
  height: auto;
}
